$color-primary: #d3d3d3;
$color-background: #1e1e1e;
$color-orange: #ce9178;
$color-blue:#5599d6;
$color-light-blue: #9adafd;
$color-green: #87d183;
$color-light-green: #b4cea7;
$color-red: #cc211e;
$color-yellow: #fecd31;
$color-light-yellow: #dbdca9;
$color-purple: #c484bf;

$font-family-regular: "Fira Code", Arial, sans-serif;

$base-spacing: 0.5rem;
$spacing-regular: $base-spacing * 2;